.history_side {
    overflow-y: scroll;
    max-width: 250px;
    max-height: 86vh;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    background: #f7f7f7;
    border-radius: 2px;
    padding: 10px 30px;
}